@page "/todoitem"
@inherits ToDoListBase

<h1>Todo list</h1>

<div class="row">
    <button class="btn btn-primary" onclick=@OpenCreate>New</button>
</div>
<div class="row">
    <PagedTable Config=@PagedTableConfig />
</div>



